<div class="body">
	<div class="container">
		<p class="notice">
			<%= notice %>
		</p>
		<div class="row">
			<h1>設備情報、編集</h1>
			<%= form_for (@facility) do |f| %>

			<% if table_status == 1 %>
			<div class="darts">ダーツ
				<%= f.table_count %>
				<%= f.collection_select :genre_id, Genre.all, :id, :genre_name %>
			</div>

			<% elsif table_status == 2 %>	
			<div class="billiard">ビリヤード
				<%= f.table_count %>
				<%= f.collection_select :genre_id, Genre.all, :id, :genre_name %>
			</div>
			<% else %>
			<div class="Other">その他
				<%= f.table_count %>
				<%= f.collection_select :genre_id, Genre.all, :id, :genre_name %>
			</div>
			<% end %>
			<% end %>
		</div>
	</div>
</div>
				
