<div class="body">
	<div class="container">
		<p class="notice">
			<%= notice %>
		</p>

		<div class="row">
			<h1>設備情報、編集</h1>
			<%= form_for(@facility, {:url => stores_facility_path}) do |f| %>

			
			<label for="table_count">台番号</label>
				<%=f.text_field :table_count%>
				<%= f.collection_select :genre_id, Genre.all, :id, :genre_name %>
				<%= f.select :progress, Facility.progresses.keys.to_a, {} %>
				<%= f.submit '変更' %>
			
			<% end %>
		</div>
	</div>
</div>
				
