<div class="body">
	<div class="container">
		<p class="notice">
			<%= notice %>
		</p>
		<div class="row">
			<h1>edit</h1>
				<%= form_for (@store) do |f| %>
				<div class="field row"><br>
					<label for="store_name">店舗名</label>
					<%=f.text_field :store_name %><br>
				</div>

				<div class="field row"><br>
					<label for="business_hours">営業時間</label>
					<%= f.text_area :business_hours %>
				</div>

				<div class="field row"><br>
					<label for="regular_holiday">定休日</label>
					<%= f.text_area :regular_holiday %>
				</div>

				<div class="field row"><br>
					<label for="address">住所</label>
					<%= f.text_area :address %>
				</div>

				<div class="field row"><br>
					<label for="phone_number">TEL</label>
					<%= f.text_field :phone_number %>
				</div>

				<div class="field row"><br>
					<label for="ingormation">店舗情報＆イベント情報</label>
					<%= f.text_area :ingormation %>
				</div>

				<%= f.submit '変更' %><br>

				<tr><%= link_to"Back", stores_store_path(f.id) %></tr>
			<% end %>
		</div>
	</div>
</div>
