<div class="body">
	<div class="container">
		<p class="notice">
			<%= notice %>
		</p>
		<div class="row">
			<h1><%= @store.store_name %></h1>
			<% if @store == current_store %>
			<%= link_to "編集", edit_stores_store(@store.id) %>
			<% end %>
			
			<table class="table table-striped">
				<tr>
					<td>営業時間</td>
					<td><%= @store.business_hours %></td>
				</tr>
				<tr>
					<td>定休日</td>
					<td><%= @store.regular_holiday %></td>
				</tr>
				<tr>
					<td>住所</td>
					<td><%= @store.address %></td>
				</tr>
				<tr>
					<td>TEL</td>
					<td><%= @store.phone_number %></td>
				</tr>
				
				<tr>
					<td>店舗情報＆イベント情報</td>
					<td><%= @store.information %></td>
				</tr>
				<tr>
					 <td>設備</td>
					 <td><%= @facilities %></td>
				</tr>
			</table>
		</div>
	</div>
</div>
