<div class="body">
	<div class="container">
		<p class="notice">
			<%= notice %>
		</p>
		<div class="row">
			<h1><%= @store.store_name %></h1>
			<% if @store == current_store %>
			<%= link_to "編集", edit_stores_store_path(current_store) %>
			<% end %>
			
			<table class="table table-striped">
				<tr>
					<td>営業時間</td>
					<td><%= @store.business_hours %></td>
				</tr>
				<tr>
					<td>定休日</td>
					<td><%= @store.regular_holiday %></td>
				</tr>
				<tr>
					<td>住所</td>
					<td><%= @store.address %></td>
				</tr>
				<tr>
					<td>TEL</td>
					<td><%= @store.phone_number %></td>
				</tr>
				
				<tr>
					<td>店舗情報＆イベント情報</td>
					<td><%= @store.information %></td>
				</tr>
			</table>
			<%# @facilities.each do |facility| %>
			<%# if current_store == @store.id %>
			<!-- <table class="table table-striped"> -->
				<!-- <thead> -->
					<!-- <tr> -->
						<!-- <th>台番号</th> -->
						<!-- <th>機種名</th> -->
						<!-- <th>現状</th> -->
						<!-- <th></th> -->
						<!-- <th colspan="5"></th> -->
					<!-- </tr> -->
				<!-- </thead> -->
				<!-- <tbody> -->
					<!-- <tr> -->
						<!-- <td><%#= facility.table_count %></td> -->
						<!-- <td><%#= facility.genre.genre_name %></td> -->
						<!-- <td><button class="text-danger"><%#= facility.progress %></button></td> -->
						 <!-- <td><%#= link_to "編集", edit_stores_facility_path(facility.id), class: "btn btn-primary" %></td> -->
						 <!-- <td><%#= link_to "削除", stores_facility_path(facility.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td> -->
					<!-- </tr> -->
				<!-- </tbody> -->
			<!-- </table> -->
			 <%# else %>
			<!-- <table class="table table-striped"> -->
				<!-- <thead> -->
					<!-- <tr> -->
						<!-- <th>台番号</th> -->
						<!-- <th>機種名</th> -->
						<!-- <th>現状</th> -->
					<!-- </tr> -->
				<!-- </thead> -->
				<!-- <tbody> -->
					<!-- <tr> -->
						<!-- <td><%#= facility.table_count %></td> -->
						<!-- <td><%#= facility.genre.genre_name %></td> -->
						<!-- <td><button class="text-danger"><%#= facility.progress %></button></td> -->
					<!-- </tr> -->
				<!-- </tbody> -->
			<!-- </table> -->
			 <%# end %>
			 <%# end %>
		</div>
	</div>
</div>
