<div class="body">
	<div class="container">
		<p class="notice">
			<%= notice %>
		</p>
		<div class="row">
			<h1>TOP</h1>
			<div>
				<%= link_to "新規ユーザー登録", new_user_registration_path %>
			</div>
			<dir>
				<%= link_to "ユーザーログイン", new_user_session_path %>
			</dir>
			<div>
				<%= link_to "新規店舗登録", new_store_registration_path %>
			</div>
			<div>
				<%= link_to "店舗ログイン", new_store_session_path %>
			</div>
			<h2>検索</h2>
			<%= form_tag(@store) do %>
				<%= text_field_tag :search %>
				<%= submit_tag 'Search', name: nil %>
			<% end %>
		</div>
	</div>
</div>
