<div class="body">
	<div class="container">
		<p class="notice">
			<%= notice %>
		</p>
		<%= form_for(@genre, {:url => stores_genre_path})do |f| %>
		<div class="field row">
			<label for="genre_name">機種名</label><br>
			<%= f.text_field :genre_name %><br>
		</div>
		<%= f.submit '変更' %><br>
		<% end %>
		<%= link_to"戻る", stores_genres_path %>
	</div>
</div>
